body{
    background-color: #f0f0ff;
}
#khungtrang
{
    width: 800px;
    margin: 0px auto;
    padding: 0px;
    height: 550px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 20px blue;
}
#khungtrang #header{
    
    background-image:url(./bg_top.jpg);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 100px;
    width: 800px;
    

}
#khungtrang #banner{
    width: 800px;
    height: 20px;
    background: darkblue;
    color: #FFFFFF;
    
    text-align: center;
   
}
#khungtrang #banner a{
    text-decoration: none;
    color: #FFFFFF;
    border: thin solid #ccc;
    
    padding: 5px 5px 5px 5px;

    

}
#khungtrang #banner a:link{
    background-color:darkblue;
    color: #f0f0ff;

}
#khungtrang #banner a:hover{
    background-color: deeppink;
    color: gold;

    

}




#khungtrang #content{
    width: 800px;
    height: 400px;
    float: left;
    clear: left;
    padding-left: 25px;
    font-size: 14pt;
    

}
#khungtrang #footer{
    width:100%;
    float: left;
    text-align: center;
    background-image: url(./bg_bottom.JPG);
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 50px;
}