body{
    background-color: darkgray;
}
#khungtrang{
    width: 804px;
    
    margin: 0px auto;
    padding: 0px;
    background-color: #FFFFFF;
}
#khungtrang #header{
    background-image: url(./hinhanh/banner.jpg);
    height: 100px;
    
}
#khungtrang #banner{
    background-color: #009933;
    height: 40px;
    width: 804px;
}
#khungtrang #banner ul{
    margin: 0px;
    padding:0px;
}
#khungtrang #banner ul li{
    list-style: none;
}
#khungtrang #banner ul li a{
    text-decoration: none;
    border-right: 1px solid #ffffff;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    color: #FFFFFF;

    
}

#khungtrang #main #left{
    background-color: #FFFFFF;
    float: left;
    width: 150px;
    border-right: 2px solid #009933;
    
}
#khungtrang #main #left .tieude{
    color: #009933;
    border-bottom: 1px dashed #009933;
    font-weight: bold;
    font-size: 11pt;
    text-align: center;
}
#khungtrang #main #left img{
    width: 149px;

}
#khungtrang #main #left ul{
    margin: 0px;
    padding: 0px;
}
#khungtrang #main #left ul li{
    list-style: none;
}
#khungtrang #main #left ul li a{
    text-decoration: none;
    display: block;
    padding-left: 8px;
}
#khungtrang #main #content{
    background-color: #FFFFFF;
    float: left;
    width: 500px;

    
}
#content table th{
    text-align: left;
}
#content table .kiemtra{
    text-align: center;
}
#khungtrang #main .bang{
    margin-left: 23px;
}
#khungtrang #main #content #thanhtieude{
    border-radius: 20px;

}
#khungtrang #main #content .tieude{
    margin: 0px;
    background-color: #009933;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-radius: 20px;
    
}
#khungtrang #main #content .noidung{
    text-align: left;
    font-weight: normal;
}
#khungtrang #main #content .cotdau{
    text-align: center;
}
#khungtrang #main #content img{
    margin-top: 10px;
}
#khungtrang #main #right{
    background-color: #FFFFFF;
    float: right;
    width: 150px;
    
}
#khungtrang #main #right #thongbao{
    border: thin solid #009933;
    border-radius: 10px;
    margin: 1px;
    padding: 0px;
    height: 200px;

}
#khungtrang #main #right .hinhanh{
    padding: 0px;
    margin: 0px;
    text-align: center;
    

}
.text{
    margin-bottom: 10px;
    padding: 0px;
    
}
#khungtrang #main #right .noidung{
    color: blue;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: center;


}
#khungtrang #main #right .sotien1{
    font-size: 10pt;
    font-weight: bold;
    color: darkgray;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#khungtrang #main #right .sotien2{
    font-size: 10pt;
    font-weight: bold;
    color: red;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#footer{
    color: darkgray;
    width: 804px;
    height: 80px;
    background-color: #FFFFFF;
    text-align: center;
    clear: left;
    border-top: thin dashed #009933 ;


}
#footer .chu{
    margin-top: 21px;
}



